html {
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.top {
   margin-top: 50px;
}

.playerImage {
   margin-top: 10px;
}

.image {
   max-width: 250px;
}

.playerInfo h1 {
   text-align: left;
}

.card-img-top {
   margin-top: 10px;
}

.sectionTwo {
   background-color: purple;
   width: 1108px;
   height: 1108px;
}

p {
   font-size: 18px;
}

.teamRecord {
   background-color: purple;
   padding: 200px;
   top: 0px;
}

.test {
   padding: 150px;
   border: 2px solid;
}

.teamInfo{
   margin-top: 50px;
}

table{
   margin-top: 45px;
}